<div class="table-div">
    <table mat-table [dataSource]="tableRows">
        <tr mat-header-row *matHeaderRowDef="tableHeader"></tr>
        <tr mat-row *matRowDef="let row; columns: tableHeader;"></tr>
        <!-- table header -->
        <ng-container [matColumnDef]="col" *ngFor="let col of tableHeader">
            <th mat-header-cell *matHeaderCellDef class="labels">
                {{col == 'action'?"":col}}
            </th>
            <!-- table content -->
            <td mat-cell *matCellDef="let element,let i = index" class="labels" >
                <p *ngIf="element[col]">
                    <ng-container *ngIf="col == 'totalprice'">{{element[col] | currency: "USD"}}</ng-container>
                    <ng-container *ngIf="col != 'totalprice'">{{element[col]}}</ng-container>
                </p>
                <form [formGroup]="newItemForm">
                    <!-- new item name -->
                    <mat-form-field class="input-div" *ngIf="col == 'item' && element[col]== '' && i==0">
                        <input matInput type="text" formControlName="itemName" placeholder="Item name"
                            (keyup)="displayList()" [(ngModel)]="searchText" />
                    </mat-form-field>
                    <div class="search" *ngIf="searchText?.length && col == 'item' && element[col]== '' && i==0">
                        <ul *ngIf="isMenuOpen">
                            <li *ngFor="let product of jsonData | appFilter:searchText"
                                (click)="insertItem(product.item)">
                                {{product.item}}
                            </li>
                        </ul>
                    </div>
                    <!-- new item count -->
                    <mat-form-field class="input-div" *ngIf="col=='count' && element[col]=='' && i==0">
                        <input matInput type="number" formControlName="itemCount" placeholder="Item count" />
                    </mat-form-field>

                    <div class="example-button-row">
                        <button mat-button color="primary" *ngIf="col=='action' && !element[col] && i==0"
                            [disabled]="!newItemForm.valid" (click)="handleAddItem()">Add</button>
                        <button mat-button color="warn" *ngIf="col=='action' && i !=0"
                            (click)="handleDeleteItem(i)">Delete</button>
                    </div>
                </form>
            </td>
        </ng-container>
    </table>


    <div>
        <app-summary [data]="summaryData"></app-summary>
    </div>
</div>