<div class="table-div">
    <table mat-table [dataSource]="tableRows">
        <tr mat-header-row *matHeaderRowDef="tableHeader"></tr>
        <tr mat-row *matRowDef="let row; columns: tableHeader;"></tr>

        <!-- table header -->
        <ng-container [matColumnDef]="col" *ngFor="let col of tableHeader">
            <th mat-header-cell *matHeaderCellDef>
                {{col == 'action'?"":col}}
            </th>

            <!-- table content -->
            <td mat-cell *matCellDef="let element,let i = index">
                <p *ngIf="element[col]">
                    <ng-container *ngIf="col == 'totalprice'">{{element[col] | currency: "USD"}}</ng-container>
                    <ng-container *ngIf="col != 'totalprice'">{{element[col]}}</ng-container>
                </p>

                <!-- new item name -->
                <mat-form-field class="input-div" *ngIf="col == 'item' && element[col]== '' && i==0">
                    <input matInput type="text" id="item" placeholder="item name" required="true"
                        (keyup)="displayList()" [(ngModel)]="searchText" />
                </mat-form-field>
                <div class="search" *ngIf="searchText?.length && col == 'item' && element[col]== '' && i==0">
                    <ul *ngIf="isMenuOpen">
                        <li *ngFor="let product of jsonData | appFilter:searchText" (click)="insertItem(product.item)">
                            {{product.item}}
                        </li>
                    </ul>
                </div>

                <!-- new item count -->
                <mat-form-field class="input-div" *ngIf="col=='count' && element[col]=='' && i==0">
                    <input matInput type="number" id="count" placeholder="item count" required="true" />
                </mat-form-field>

                <label *ngIf="col=='action' && !element[col] && i==0" (click)="handleAddItem()">Add</label>
                <label *ngIf="col=='action' && i !=0" (click)="handleDeleteItem(i)">Delete</label>
            </td>
        </ng-container>
    </table>


    <div>
        <app-summary [data]="summaryData"></app-summary>
    </div>
</div>